*{
    margin:0;
    padding: 0;

}
body{
    background-color:rebeccapurple;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 4vmin;
    box-shadow: 0 0 1rem rgba(0,0,0.1);
    border:none;
    font-size:8vmin;
    color: black;
    background-color: rgb(56, 13, 56);
}

#reset-btn{
    padding:1rem;
    font-size: 3vmin;
    border-radius:2vmin;
    border:none;
    background-color: black;
    color: purple;
    

}

#new-btn{
    padding:1rem;
    font-size: 3vmin;
    border-radius:2vmin;
    border:none;
    background-color: black;
    color: purple;
}

#msg{
    color:  rgb(56, 13, 56);
    font-size: 5vmin;
    font-weight: bold;
    margin-bottom: 6px;

}

.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;


}

.hide{
    display: none;
}